<!--<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
     <div class="container has-text-centered">
        <h1 class="title">
            My home page!
        </h1>
     </div>   
    </div>
</section> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="home.component.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha's Garden</title>

</head>
<body>
    <div class="intro">
        <h1 class="logo-header">
            <span class="logo">Minha's</span>
            <span class="logo"> Garden</span>
        </h1>
    </div>
    <header>
        <h4>Minha's Garden</h4>
    </header>

    
</body>
</html>

